.companies-show {
  background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/witewall_3.png);
}
.padding-negative {
  margin-top: -150px;
  margin-bottom: 80px;
}
.company-show-banner {
  width: 100vw;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image:url(banner-background.jpeg);
}
