.users-show {
  background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/witewall_3.png)
}

.profile-wrapper {
  padding-top: 40px;
  margin-top: 80px;
  padding-bottom: 100px;
}

.profile-right {
  margin-left: 50px;
  width: 100%;
}

.profile-no-complaints {
  margin: 270px;
}
