.complaint-show-page {
  margin-top: 150px;
  height: 100vh;
}

#complaint_response {
  border-radius: 10px;
}

.complaint-new-page {
  margin-top: 80px;
  height: 100vh;
}
.padding {
  margin-top: 80px;
  margin-bottom: 80px;
}
