<div class="padding">
<div class="container profile-container">
  <div class="row">
    <div class="col-lg-3">
      <%= render partial: 'shared/cards/profile_card' %>
    </div>
    <div class="col-lg-9">
      <div class="row">
        <div class="profile-right section2">
          <% if @complaints != []%>
            <% @complaints.each do |complaint| %>
              <div class="col-lg-12">
                <%= render partial: "shared/messages_profile", locals: { complaint: complaint } %>
              </div>
            <% end %>
          <% else %>
            <div class="rowrow">
              <div class="col-lg-6">
                 <p>You haven't submitted any complaints yet</p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
