<div class="container profile-container">
  <div class="row">
    <div class="col-lg-3">
      <%= render partial: 'shared/cards/profile_card' %>
    </div>
    <div class="col-lg-9">
      <div class="row">
        <div class="profile-right">
          <h3>My complaints</h3>
          <% @complaints.each do |complaint| %>
            <div class="col-lg-12">
              <%= render partial: "shared/messages", locals: { complaint: complaint } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
