<h1>This is the user profile</h1>
<p>We have user details and user complaints listed with the status</p>

<%= render 'shared/messages' %>

<p>The user will be able to see the impact they have with their complaints. Complaints made: 1.345, Complaints responded/solved: 34%, </p>
