<div class="charts-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="wrapper-chart">
        <canvas id="myClaimsChart" width="250" height="250"></canvas>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="wrapper-chart">
        <canvas id="myCustomerChart" width="250" height="250"></canvas>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="wrapper-chart">
        <canvas id="myCategoryChart" width="250" height="250"></canvas>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="wrapper-chart">
        <canvas id="myRatingChart" width="250" height="250"></canvas>
      </div>
    </div>
  </div>
</div>

<script>

</script>

