<h2>How to</h2>
    <div class="howto-steps">
      <div class="row">

      <div class="col-xs-12 col-sm-5 col-md-3">
        <div class="wrapper-steps">
          <i class="fa fa-search fa-2x" aria-hidden="true"></i>
          <h4>Search for a company</h4>
          <p>Search the company you are interested in and check their reputation.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-5 col-md-3">
        <div class="wrapper-steps">
          <%= image_tag("howto-claim.svg", width: '50') %>
          <h4>Post a complaint</h4>
          <p>Explain your problem, post a claim, rate the company through your experience.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-5 col-md-3">
        <div class="wrapper-steps">
          <%= image_tag("howto-reply.svg", width: '50') %>
          <h4>Receive a reply</h4>
          <p>Wait for the company to read your complaint and offer a solution.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-5 col-md-3">
        <div class="wrapper-steps">
          <%= image_tag("howto-rating.svg", width: '50') %>
          <h4>Solve and rate it</h4>
          <p>Mark has solved if your claim was correctly, then you can rate the response of the company.</p>
        </div>
      </div>

    </div>
  </div>
