<div class="banner-stuck"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 ">
      <div class="no-complaints text-center">
        <div class="header-container">
        <h2>Welcome</h2>
          <% if @company.logo %>
           <a href="https://www.<%= @company.domain %>" target="_blank">
           <img src="<%= image_path(@company.logo)%>" class="avatar-show" alt="logo">
          </a>
         <% end %>
         </div>
        <h4>No complaints on the company <%= @company.name %></h4>


        <%= link_to 'Be the first on to post claim', new_company_complaint_path(@company), class: "btn-complaint" %>
      </div>
    </div>
  </div>
</div>

