<!-- Homepage banner -->
<div class="banner">
  <div class="banner-content">
      <div class="row">
        <div class="col-xs-12">
          <%= render partial: "shared/banner/banner_homepage" %>
        </div>
      </div>
  </div>
</div>


<!-- How to section -->
<div class="wrapper-howto">
  <%= render partial: "shared/how-to-home" %>
</div>


<!-- Last complaints section -->
<div class="last-complaints-container">
  <div class="container">
    <h2>Last complaints</h2>
    <div class="row">
      <div>
        <% @complaints = @complaints.order(created_at: :desc) %>
        <% @complaints.each do |complaint| %>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <%= render partial: "shared/messages_homepage", locals: { complaint: complaint } %>
          </div>
        <% end %>
      </div>
    </div>
      <div class="pagination-container">
        <%= will_paginate @complaints %>
      </div>
  </div>
</div>
