
<div class="banner" style="background-image: linear-gradient(to left, #3498db 0%, #3f5973 100%);">
  <div class="banner-content">
    <section class="register" >
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <%= render partial: "shared/banner/banner_left" %>
        </div>
        <div class="col-xs-0 col-sm-2">
          <div class="divider-wrapper">
            <div class="divider"></div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5">
        <%= render partial: "shared/banner/banner_right" %>
        </div>
      </div>
    </section>
  </div>
</div>


<div class="container cardcontainer">
  <div class="row">
  <h2>Best companies</h2>
    <% 8.times do %>
    <div class="cardbox col-xs-12 col-sm-3">
      <%= render partial: "shared/cards/card" %>
    </div>
    <% end %>
  </div>
</div>

  <div class="container">
    <h2>Last complaints</h2>
    <div class="row">
      <div class="profile-right">
        <% @complaints.each do |complaint| %>
          <div class="col-lg-6">
            <%= render partial: "shared/messages", locals: { complaint: complaint } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

