<div class="container">
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2>There is still no complaints on the company</h2>
      <p><strong><%= params[:domain] %></strong></p>
      <p> Would you like to post a complaint?</p>
    </div>
  </div>
</div>

