<div class="padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <%= render partial: 'shared/cards/profile_company_card' %>
      </div>

      <div class="col-lg-8">
        <div class="row">
        <h3 class="text-center">Last Complaints for <%= @company.name %></h3>
          <div class="section2">
            <% @complaints.each do |complaint| %>
              <%= render partial: 'shared/messages', locals: { complaint: complaint } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
