<div class="ban-content">
  <div class="wrapper-title">
    <h1>ClaimHere</h1>
    <div class="typing-slider">
      <p>Search for a company</p>
      <p>Check companies reputation </p>
      <p>Post a claim & rate it</p>
    </div>
  </div>
  <div class="have-a-voice">
    <div class="home-icon">
      <%= image_tag("claim-icon.svg", class: "img-claim") %>
    </div>
    <div class="cta-home">
      <h2>Have a voice</h2>
      <% unless current_user %>
        <%= link_to "Join Us Now", new_user_registration_path, class: "navbar-wagon-item navbar-home-signup" %>
      <% end %>
    </div>
  </div>
</div>
