<div class="content">
  <div class="heading-rotation-container" style="min-height: 210px;">
    <h1>Welcome to ClaimHere</h1>
  </div>

  <p class="description">Solving a problem is easier than you think. With ClaimHere you can do it in 3 simple steps. Raise your voice to improve our society.</p>
</div>
