<div class="description-home">
 <%= image_tag("claim-icon.svg", class: "img-claim") %>
  <div class="box-container">
    <input type="text" name="query" id="form-search" placeholder=" Search for a company..." autocomplete="off">
  </div>
  <div class="results-dropdown results-dropdown-transparent" id="results">
</div>
</div>
