<div class="ban-content">
  <div class="heading-rotation-container">
    <h1 class="claimhere">ClaimHere</h1>
    <h2 class="claimhere">It always seems impossible until is done</h2>
  </div>

  <p class="description">You can now search for a company, check the reputation. <br> Post a claim!</p>

</div>
