<div class="reputationco">
<h4>See a company's reputation here: </h4>
<br>



<form action="<%= companies_path %>">
  <input type="text" name="query">
  <input type="submit">
</form>

</div>
<br>
<br>
<br>
<div class="complaint">
<h4>Start a complaint here: </h4>
<br>
<div class="start-complaint">
  <%= link_to "Start a complaint", new_complaint_path, class: "btn btn-primary btn-lg" %>
</div>
</div>
