<div class="ban-content">
  <div class="heading-rotation-container">
    <h1 class="claimhere">Welcome to</h1> <h1 class="claimhere">ClaimHere</h1>
  </div>

  <p class="description">The rich and powerful now have new means to further enrich and empower themselves at the cost of the poorer and weaker.<br>We have a responsibility to protest in the name of universal freedom.</p>
  <%= image_tag("claim-icon.svg", class: "img-claim") %>
</div>
