<div class="ban-content">
  <div class="heading-rotation-container">
    <h1 class="claimhere">ClaimHere</h1>
    <h2 class="claimhere">Have a voice</h2>
  </div>
  <p class="description">Check the company reputation and <br> post a claim!</p>

</div>
