<br>

<div class="complaint">
<br>
<br>
<div class="start-complaint">
<!--   < %= link_to "Start a complaint", new_complaint_path, class: "btn-lg btn-home" %> -->
</div>
</div>



<br>
<br>
<br>



<h4>Search for a company's reputation  </h4>
<h4>and start a claim</h4>
<br>
  <div class="box-container">
    <input type="text" name="query" id="form-search" placeholder=" Search..." autocomplete="off">
  </div>
  <div class="results-dropdown results-dropdown-transparent" id="results">


</div>
