<div class="ban-content">
  <div class="wrapper-title">
    <h1 class="title-home">ClaimHere</h1>
    <div class="typing-slider">
      <p>Search for a company</p>
      <p>Check companies reputation </p>
      <p>Post a claim & rate it</p>
    </div>
  </div>
  <div class="have-a-voice">
    <%= image_tag("claim-icon.svg", class: "img-claim") %>
    <h2 class="slogan">Have a voice</h2>
  </div>
</div>
<div class="arrow"></div>
