<div class="card" style="width: 23rem;">
  <div class="card-body">
    <h4 class="card-title">Category</h4>
    <p class="card-subtitle mb-2 text-muted">These are the best rated companies for category</p>
    <ul>
      <li><a href="#" class="card-link">Company 1</a></li>
      <li><a href="#" class="card-link">Company 2</a></li>
      <li><a href="#" class="card-link">Company 3</a></li>
    </ul>
  </div>
</div>
