<div class="profile-card">
  <% if current_user.first_name != "" %>
  <h2><%= current_user.first_name %>'s profile</h2>
  <% else %>
  <h2>Profile</h2>
  <% end %>

   <% avatar_url = current_user.facebook_picture_url || current_user.photo || image_path("profile") %>
   <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
  <br>
  <br>
  <p><%= @user.email %></p>
  <p>Complaints submitted: 2.330</p>
  <p>Complaints answered: 1.790</p>
  <p>Complaints solved: 55%</p>

    <%= link_to "Edit my profile", edit_user_path(@user), class: "btn btn-primary" %>
</div>
