.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  display: flex;
  align-items: center;
  justify-content: center;
    .row {
    max-width: 1220px;
    margin: 80px auto;
    padding: 0 40px;
  }
}

.padding-negative {
  margin-top: -150px;
  margin-bottom: 80px;
}
.banner-content {
  padding-top: 70px;
}
.banner-tiny {
  width: 100vw;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.banner h1 {
  font-size: 60px;
  letter-spacing: 3px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: white;
  opacity: 0.6;
  margin-bottom: 30px;
  margin-top: 25px;
}

.register{
  padding-top: 141px;
  padding-bottom: 141px;
  position: relative;
}

.register .container {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.register .content {
  flex: 4 1;
}
.register .divider-wrapper {
  flex: 1 1;
  align-self: stretch;
  display: flex;
  justify-content: center;
}
.form-control{
  padding: 25px;
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
  border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.container h2 {
  text-align: center;
  margin: 50px 0px;
}

.claimhere{
  // background: -webkit-linear-gradient(top, #3498db, #3f5973);
  // background: linear-gradient(top, #3498db, #3f5973);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  margin-top: 0;
  text-align: left;
  color: white;
  letter-spacing: 3px;
}
.ban-content {
  text-align: left;
}
.description {
  color: white;
  text-align: left;
}
.img-claim {
    height: 180px;
    margin: 20px 0px;
}
.howto{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 60px;
  align-items: center;
.fa-search {
  padding-bottom: 20px;
}

  p {
    font-size: 12px;
    font-weight: lighter;
    color: #585858;
  }
  h4 {
    color: #585858;
  }
}

.row-howto h2{
    border-bottom: 1px solid lightgrey;
    margin-left: 185px;
    margin-right: 175px;
    margin-top: 55px;
    color: #323232;
    padding-bottom: 20px;
  }
.steps-howto{
  max-width: 200px;
  margin: 0 40px;
}
.howto-container {
  height: 60vh;
}

.last-complaints-container {
  background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/witewall_3.png);
  padding-bottom: 30px;
}
.last-complaints-company {
  margin-top: 100px;
  h3 {
  padding-bottom: 50px;
  }
}

.heading-rotation-container {
  min-height: 190px
}

.description-home {
  color: whitesmoke;
  text-align: center;
  h4 {
    word-spacing: 3px;
    letter-spacing: 1px;
    font-size: 20px;
  }
}







