.ban-content {
  margin-top: 130px;
}

.wrapper-title {
  text-align: center;
}


.have-a-voice {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  h2 {
    font-size: 30px;
    margin-top: 0;
    text-align: left;
    color: white;
    letter-spacing: 2px;
    @media screen and (max-width: $xtrasmall) {
      font-size: 20px;
    }
  }
  .img-claim {
    height: 180px;
    padding: 0 20px;
    align-self: center;
    @media screen and (max-width: $small) {
      height: 140px;
    }
  }
}

/* Icon Homepage */

.home-icon {
  padding-top: 40px;
}

/* CTA Signup Homepage  */

.cta-home {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

//.arrow esta en components/_arrow





//Las siguientes clases no deberian estar aqui





// Search Icon inside search bar
.stylish-input-group .input-group-addon{
  background: white !important;
}
.stylish-input-group .form-control{
  border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}


.last-complaints-company {
  margin-top: 100px;
  padding-bottom: 50px;

}








