.ban-content {
  margin-top: 130px;
}

.wrapper-title {
  text-align: center;
}
//.title-home
//.typing-slider

.have-a-voice {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.slogan h2 {
  font-size: 35px;
  margin-top: 0;
  text-align: left;
  color: white;
  letter-spacing: 2px;
  @media screen and (max-width: $small) {
    font-size: 20px;
  }
}

//.arrow esta en components/_arrow




//Las siguientes clases no deberian estar aqui



.img-claim {
  height: 180px;
  margin: 20px 0px;
  @media screen and (max-width: $small) {
    height: 140px;
  }
}


// Search Icon inside search bar
.stylish-input-group .input-group-addon{
  background: white !important;
}
.stylish-input-group .form-control{
  border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}


.last-complaints-company {
  margin-top: 100px;
  padding-bottom: 50px;

}








