.box {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 70px 0px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

.tabs-dates {
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}

.results-box {
  padding: 10px;
}

.tab-content {
  padding: 10px;
}

.avatar-emoji {
  width: 80px;
}

#emoji {
  border-right: 1px solid lightgrey;
  text-align: center;
}
