.company-profile-card {
    z-index: 999;
    border: 2px solid #faf6f6;
    padding: 30px;
    margin: 14px 0px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 0px 5px rgba(1,1,1,0.3);
    background-color: white;
    height: 704px;
    width: 310px;
  h2 {
  margin-top: 10px;
  }
}

.company-emoji p {
font-size: 14px;
margin-top: 10px;
}

.stars-rating {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  .fa {
    color: gold;
  }
}

.company-profile {
  margin: 20px 50px;
}
