#form-search {
  padding: 10px;
  margin: 0 10px;
  width: 80%;
}

input:focus {
    outline:none;
}

.form-control {
  border-radius: 50px;
}

.reputationco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
