.howto-steps {
  margin: 0 50px;
}

.wrapper-steps {
  margin: auto;
  text-align: center;
  p {
    font-size: 15px;
    font-weight: lighter;
    color: #585858;
  }
  h4 {
    color: #585858;
  }
  i {
    padding-bottom: 25px;
  }

}





