.wraper-howto {
  width: 100vw;
  height: 70vh;
  margin-bottom: 100px;
  margin-top: 9px;
  h2 {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
  }
}

.howto-steps {
  margin: 0 50px;
}

.wraper-steps {
  margin: auto;
  text-align: center;
  p {
    font-size: 15px;
    font-weight: lighter;
    color: #585858;
  }
  h4 {
    color: #585858;
  }
  i {
    padding-bottom: 25px;
  }

}





