.pagination-container {
  display: flex;
    justify-content: center;
    .pagination {
      span, em {
        background-color: lightgrey;
        color: white;
        padding: 5px;
        border-radius: 5px;
        font-size: 14px;
      }
      a {
        background-color: $brand-primary;
        color: white;
        padding: 5px;
        border-radius: 5px;
        font-size: 14px;
        border: 1px solid $brand-primary;
        &:hover {
          text-decoration: none;
          color: $brand-primary;
          background: white;
          border: 1px solid $brand-primary;
        }
      }
    }
}
