.pagination-container {
  display: flex;
    justify-content: center;
    .pagination {
      span, em {
        background-color: lightgrey;
        color: white;
        padding: 8px;
        border-radius: 5px;
      }
      a {
        background-color: #3E749D;
        opacity: 0.8;
        color: white;
        padding: 8px;
        border-radius: 5px;
        &:hover {
          text-decoration: none;
          opacity: 1;
        }
      }
    }
}
