.comp-emoji p {
font-size: 14px;
margin-top: 10px;
}
.section2 {

  width: 100%;
  // height: 610px;
  // overflow: scroll;
}

.stars-rating {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  .fa {
    color: gold;
  }
}

.pagination-container {
  display: flex;
    justify-content: center;
    .pagination {
      span, em {
        background-color: gray;
        color: white;
        padding: 3px 5px;
      }
      a {
        background-color: #3498db;
        color: white;
        padding: 3px 5px;
        &:hover {
          text-decoration: none;
        }
      }
    }
}
.companies-show {
  background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/witewall_3.png);
}
.company-profile {
  margin: 20px 50px;
}
