
.profile-card{
    z-index: 999;
    border: 2px solid #faf6f6;
    padding: 30px;
    margin: 14px 0px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 0px 5px rgba(1,1,1,0.3);
    background-color: white;
    height: 704px;
    width: 310px;
  @media screen and (max-width: $small) {
    align-content: center;
    height: 584px;
  }
  h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  }
}
.profile-info {
  margin: 30px 30px;
}
